* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container__main {
  align-content: center;
  align-items: center;
  background: #fdebd3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.input__counter {
  margin: 1rem 0;
}
.input__counter input {
  background: #fdebd3;
  border: 0;
  color: #264e70;
  font-size: 7rem;
  height: 10rem;
  outline: none;
  text-align: center;
  width: 100%;
}

.input__counter input::-webkit-outer-spin-button,
.input__counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

.button {
  width: 7rem;
  height: 3rem;
  margin: 0 1rem;
  font-size: 1.5rem;
  color: white;
  background: #679186;
  border: 1px solid #264e70;
  border-radius: 20px;
  cursor: pointer;
}

.button.action--reset {
  background-color: #264e70;
  border: 1px solid #679186;
}
